<ion-view>

    <ion-nav-title>

        <mm-format-text watch="true">{{ title }}</mm-format-text>

    </ion-nav-title>

    <ion-content delegate-handle="mmSectionScroll" mm-state-class padding="true">

        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="sectionLoaded" on-refresh="doRefresh()">

        </ion-refresher>

        <mm-loading hide-until="sectionLoaded" loading-padding-top="loadingPaddingTop">

            <section class="card" ng-if="summary">

                <!-- Only displayed when 1 section per page. -->

                <div class="item item-text-wrap">

                    <article>

                        <mm-format-text class="mm-content-with-float">{{ summary }}</mm-format-text>

                    </article>

                </div>

            </section>

            <section class="card" ng-repeat="section in sections" ng-if="sectionHasContent(section)">

                <!-- Title and summary are displayed when multiple sections per page. -->

                <div class="item item-divider" ng-if="allSections">

                    <h2><mm-format-text watch="true">{{ section.name }}</mm-format-text></h2>

                </div>

                <div class="item item-text-wrap" ng-if="allSections && section.summary">

                    <mm-format-text class="mm-content-with-float">{{ section.summary }}</mm-format-text>

                </div>

                <a class="item item-text-wrap mm-course-module-handler {{class}}" ng-repeat="module in section.modules" ng-click="action($event)" ng-class="{'item-button-right': (buttons && buttons.length > 0) || spinner, 'item-media': icon, 'item-completion': module.completionstatus}" ng-controller="module._controller" title="{{ title }}">

                    <img ng-src="{{ icon }}" alt="" role="presentation" ng-if="icon">

                    <mm-format-text watch="true">{{ title }}</mm-format-text>

                    <button ng-repeat="button in buttons" ng-hide="button.hidden" ng-click="button.action($event)" class="button button-icon" aria-label="{{ button.label | translate }}">

                        <i class="icon positive" ng-class="{'{{button.icon}}': button.icon}"></i>

                    </button>

                    <ion-spinner ng-if="spinner"></ion-spinner>

                    <mm-completion ng-if="module.completionstatus" completion="module.completionstatus" module-name="title" after-change="completionChanged"></mm-completion>

                </a>

                <!-- When there is nothing in the section. -->

                <div class="item item-text-wrap" ng-if="!sitehome && section.modules.length < 1">

                    {{ 'mm.course.nocontentavailable' | translate }}

                </div>

            </section>

            <p class="padding" ng-if="!hasContent">{{ 'mm.course.nocontentavailable' | translate }}</p>

        </mm-loading>

    </ion-content>

</ion-view>
