<ion-view view-title="{{ 'mm.login.login' | translate }}">
  <ion-content padding="true" mm-state-class>
    <div class="card">
        <div class="item item-text-wrap item-avatar-center">
            <!-- Show site logo or a default image. -->
            <img ng-if="logourl" ng-src="{{logourl}}" class="avatar-full" mm-external-content role="presentation">
            <img ng-if="!logourl" ng-src="img/user-avatar.png" class="avatar" mm-external-content role="presentation">

            <p>{{ 'mm.login.credentialsdescription' | translate }}</p>
            <!-- If no sitename show big siteurl. -->
            <p ng-if="!sitename" class="item-heading padding">Boab Boats</p>
            <!-- If sitename, show big sitename and small siteurl. -->
            <p ng-if="sitename" class="item-heading padding">Boab Boats</p>
            <p ng-if="sitename">Boab Boats</p>
        </div>
    </div>
    <div class="list list-inset">
      <form>
        <ion-input class="item item-input item-stacked-label" ng-if="siteChecked && !isBrowserSSO">
          <ion-label>{{ 'mm.login.username' | translate }}</ion-label>
          <input type="text" placeholder="{{ 'mm.login.username' | translate }}" ng-model="credentials.username" autocapitalize="none" autocorrect="off" mm-auto-focus>
        </ion-input>
        <ion-input class="item item-input item-stacked-label" ng-if="siteChecked && !isBrowserSSO">
          <ion-label>{{ 'mm.login.password' | translate }}</ion-label>
          <input id="mm-login-credentials-password-input" name="password" type="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password" mm-show-password>
        </ion-input>
        <div class="item item-input padding">
          <button class="button button-block" ng-click="login()">{{ 'mm.login.loginbutton' | translate }}</button>
        </div>
      </form>
    </div>
    <div class="card" ng-if="canSignup">
      <div class="item item-text-wrap">
        <p class="item-heading">{{ 'mm.login.firsttime' | translate }}</p>
        <p ng-if="authInstructions"><mm-format-text>{{authInstructions}}</mm-format-text></p>
        <button class="button button-block" ui-sref="mm_login.email_signup({siteurl: siteurl})">{{ 'mm.login.startsignup' | translate }}</button>
      </div>
    </div>
  </ion-content>
</ion-view>
